# Python virtualenv and packaged requirements
env/
vendored/

# Packaged Lambda function
s3-web-service-proxy.zip

# Compiled binaries
*.pyc

# Unit test / coverage reports
.coverage

# Terraform state and modules
**/terraform.tfstate*
**/.terraform/*
